
@{
    ViewBag.Title = "Index";
}

<h2>doc/ghi file</h2>
<from action="" method="post">
    <div>masinhvien </div>   <input name="id" />
    <div>hovaten </div>  <input name="name" />
    <div>diem </div> <input name="mark" />
    <hr />
    <input type="submit" value="luu" formaction="/NhapDiem/Save" />
    <input type="submit" value="Open" formaction="/NhapDiem/Open" />
</from>

<p>@ViewBag.HanhDong</p>
<p>@ViewBag.ThongTin</p>


