.box {
    height: 200px;
    width: 200px;
    border: solid 1px rgb(0, 204, 255);
    background-color: orange;
    position: relative;
    top: 50px;
    left: 50px;
}

.box:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border: 10px solid transparent;
    border-bottom: 10px solid red;
    top: -20px;
    left: 80px;
}