
@{
    ViewBag.Title = "Index";
}

<h2>doc/ghi</h2>
<form action="" method="post">
    <div> ma sinh vien</div> <input name="id" />
    <div> ho ten</div> <input name="name" />
    <div> diem</div> <input name="Diemkt" />
    <hr />
    <input type="submit" value="luu" formaction="/Nhapdiem/save" />
    <input type="submit" value="open" formaction="/Nhapdiem/open" />

</form>
<p>@ViewBag.hanhdong</p>
<p>@ViewBag.thongtin</p>
